@import 'tailwindcss';

.bg-black{
    /* background-color: #060606; */
    background-color: #191c24;
}

.font-hg {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
